a,
a:hover {
    text-decoration: none;
    color: black;
}

.singleCard {
    height: 50%;
    width: auto;
    margin: 1%;
}

.title {
    font-size: 2rem;
}

img {
    max-height: 250px;
    width: auto;
}

.gradient-button {
    margin: 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(248, 242, 242);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
    background-color: black;
}

.gradient-button:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 8px 10px 12px;
    background-position: right center;
}

.gradient-button:focus {
    outline: none;
}

.register {
    background-color: black;
}

.login {
    background-color: black;
}


.category {
    background-color: #452f6f;
    color: white;
}

.grid-container {
    display: grid;
    grid-gap: 20px;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
}

.grid-item {
    height: 4rem;
    background-color: rgb(92, 36, 88);
    border: 2px solid rgb(0, 0, 0);
    /* margin-bottom: 20px; */
    /* margin-top: 20px; */
    
    /* padding: 100px; */
    border-radius: 1rem;
    display: grid;
    align-content: center;
    font-size: xx-large;
    color: white;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-style:aerial */
}

.add-listing {
    background-image: rgb(14, 235, 91)
}

.add-category {
    position: fixed;
    bottom: 10px;
    right: 20px;
}

.category-input {
    margin-top: 15%;
    height: 60%;
    box-shadow: 0 0 8px black;
}

.watchlist {
    background-color: #340c41;
    color: rgba(248, 248, 248, 0.801);
}

.items-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 25px;
    padding: -20px;
    padding-bottom: 20px;

    /* background-color: black; */
}

@media only screen and (max-width: 490px) {
    .items-list {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

.item {
    background: rgba(96, 67, 138, 0.68);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    padding: 20px;
    display: grid;
    grid-template-rows: 2.5fr 1fr;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.navbar {
    backdrop-filter: blur(10px);
}

.badge {
    padding: 0.3rem 0.6rem;
    border-radius: 1rem;
}

.status--active {
    background: rgba(92, 255, 171, 0.8);
}

.status--inactive {
    background: rgba(171, 92, 255, 0.8);
}

.status--watching {
    background: rgba(172, 128, 255, 0.281);
}

.status--notwatching {
    background: rgba(128, 194, 255, 0.8);
}

.container-body {
    margin-bottom: 1.5rem;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
    background-attachment: fixed;
}

.inout {
    background-color: rgba(247, 255, 224, 0.507);
    backdrop-filter: blur(10px);
}

.detail-page {
    padding: 3rem;
    background-color: #cfd0d4e0;
    border-radius: 1rem;
}

.comment {
    margin: 1rem 0rem;
    background-color: #e7eaf1d0;
}

.big {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.image {
    height: 60vh;
}

.item-description {
    font-size: 22px;
    text-align: center;
    margin: 1rem 0rem;
}

.bid {
    font-size: 18px;
    margin-bottom: 0.5rem;
}

* {
    font-family: 'Baloo Da 2', cursive;
}

.container{
    /* background-color: #ff0011; */
    background-color: lavender;
}


.alert alert-info text-center p-4 my-4 mx-2{
    background-color: rgba(0, 0, 0, 0.5);

}

.alert-info{
    /* background-color:  */
  background-color: whitesmoke;
  color: black;
}


.item text-center{
    background-color: #ff0011;
}


.form-group col{
    background-color: black;
    border: 2px solid black;
}

.mybtn{

    background-color: #340c41;
    color: #ff0011;
}

